
a{
  color: inherit;
  text-decoration: inherit; 
}
	
	@font-face {
	    font-family: EngelLight;
	    src: url('EngelLight_ltd.ttf');
	}

	#background{
		width:100%;
		height:100%;
		position:absolute;
	}
  html, body{       
   	letter-spacing: 2px;
	color:#ffffff;
   	overflow:hidden;
	width:100%;
	max-width:100%;
	max-height:100%;
	font-family: EngelLight;
	display: block;
	background-color:#7f8c8d;  


   }
#navBar2{
	position:fixed;
	height:50px;
	width:100%;
	color:black;

	z-index:-2;
}

   #home{
   	   top:100%;
   	   left:100%;
   	   position:absolute;
	   background-color:#27ae60;  
   }

   
   #work{
   	   top:100%;
   	   left:0%;
   	   position:absolute;
   	   background-color:#c0392b;
   }
   #build{
   	   top:0%;
   	   left:100%;
   	   position:absolute;
   	   background-color:#2980b9;
   }
   #play{
   	   top:100%;
   	   left:200%;
   	   position:absolute;
   	   background-color:#9b59b6;
   }
   #contact{
   	   top:200%;
   	   left:100%;
   	   position:absolute;
   	   background-color:#2c3e50;
   }
   .title{
	width=100%;
	color:white;
   }
#main{
	max-width:100%;
	max-height:100%;
	overflow:hidden;
}
.content{
	margin-left: auto;
    	margin-right: auto;
	padding-top: 50px;
	width:100%;
	height:100%;

}
.center{
	margin-left: auto;
    	margin-right: auto;
}


.textbox{
	background-color:rgba(55,55,55,.5);
	padding:10px;
	margin-top:10px;
	margin-left:10px;
	overflow:auto;
	max-height:92%;
}
.contentBox{
	overflow:auto;
}
@media (max-width: 990px) {

	.textbox{
		max-height:none;
	}
	div.row{
		overflow:none;
		height:auto;
	}
}


div.row{
	margin:auto;
	overflow:auto;
	height:100%;
}

img{
	width:100%;
	height:auto;
}
